extends layout
append css
     link(rel='stylesheet', href='stylesheets/myEditor.css')
     link(rel="stylesheet", href='lib/jquery-ui-1.12.1/jquery-ui.css')
     link(rel="stylesheet", href="lib/jstree/themes/default/style.min.css")
block content
  
  div(id="headerBar" class="fullRow")="ditor-user1-未命名.sg."
  
  div(id="workArea")
  
  
  footer(id="FooterBar" style="border:solid 1px;text-algin:center;background-color:#c0c0c0")
    span(style="text-align:center")="欢迎光临 @联系作者"  
    
  <div class="svgContainer"><object class="svgClass" style="visibility:hidden;" id="svgObject" data="symbols.svg" type="image/svg+xml" height="0" width="0"></div>
  block scripts
     script( src="jquery-3.1.1.js")
     script( src="jtopo0.4.8.js")
     script( src="common.js")
     script( src="symbols.js")
     script( src="JTopoExt.js")
     script( src="tabsheet.js")
     script( src="ui-tools.js")
     script( src="menu.js")
     script( src="toolManager.js")
     script( src="myeditor.js")
     script( src="lib/jquery-ui-1.12.1/jquery-ui.js")
     script( src="lib/jstree/jstree.js")
     
  script.
     $(document).ready(function(){ 
    
        
        new MyEditor("workArea",JTopo); 
        
          
     });

